<div id="images">
{{!-- {{#each cats}} --}}
    <input type="image" class="voteimage" src="{{cat1.url}}" onclick="vote('{{cat1.id}}', '{{cat2.id}}');">
    <input type="image" class="voteimage" src="{{cat2.url}}" onclick="vote('{{cat2.id}}', '{{cat1.id}}');">
{{!-- {{/each}} --}}
</div>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script>
function vote(win, loose) {
    $.post('/vote', { winner: win, looser: loose }, 'form');
}
</script>